.formContainer {
  padding: 30px 200px;
}

.formGroup {
  justify-content: center;
  margin: 5px 0;
}

.submitBtn {
  border-color: #682be9;
}

.formLabel {
  color: black;
}

@media (min-width: 500px) {
  .formContainer {
    padding: 30px 200px;
  }
}

@media (max-width: 414px) {
  .formContainer {
    padding: 0;
  }
}
