/* General */
:root {
  --highlight-colour: #682be9;
  --background-colour: #212529;
  --text-colour: #ffffff;
  --secondary-text-colour: grey;
  --shadow-colour: #cccccc;
}

::selection {
  background-color: var(--secondary-text-colour);
  color: var(--highlight-colour);
}

a {
  text-decoration: none;
  color: var(--highlight-colour);
}

a:hover {
  color: inherit;
}

/* Header components */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  /* max-width: 80rem; */
  margin: 0 auto;
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--highlight-colour);
  text-decoration: none;
}

.name:hover {
    color: var(--highlight-colour);
}

.surname {
  opacity: 0;
  transition: 400ms ease-in-out;
  margin-left: 1px;
}

.headerContainer:hover .surname {
  opacity: 1;
}

.link {
  margin-left: 20px;
  height: 2rem;
  display: flex;
  align-items: center;
  color: var(--text-colour);
  line-height: 1;
  justify-content: flex-end;
  text-decoration: none;
  font-weight: bolder;
}

.link:hover { 
    color: var(--highlight-colour);
}

/* Home component */

#fullName {
 color: #c8bffe;
}

#const {
    color: #f66e75;
}

#vName {
    color: #60d8f1;
}



/* Project component */
.projectCarousel { 
    width: 80%;
    align-items: center;
}

/* .projectCaption {
    background-color: var(--shadow-colour);
    opacity: 25%;
} */

/* Contact component */
Form {
  width: 90%;
}

.formGroup {
  justify-content: center;
}

.formLabel {
  color: var(--secondary-text-colour);
}

.formLabel:focus {
    border: 2px solid var(--highlight-colour);
}

/* About component */

.technicalList {
    display: flex;
}