/* General */
:root {
    --highlight-colour: #682BE9; 
    --background-colour: #212529; 
    --text-colour: #FFFFFF;
    --secondary-text-colour: grey;
}

::selection {
    background-color: var(--secondary-text-colour);
    color: var(--highlight-colour);
}

a { 
    text-decoration: none;  
    color: var(--highlight-colour)
}

a:hover { 
    color: var(--secondary-text-colour)
}

/* Header components */
.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    /* max-width: 80rem; */
    margin: 0 auto;
}

.name {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--highlight-colour);
    text-decoration: none;
}

.surname{
    opacity: 0;
    transition: 400ms ease-in-out;
    margin-left: 1px;
}

.headerContainer:hover .surname {
    opacity: 1
}

.link {
    margin-left: 20px;
    height: 2rem;
    display: flex;
    align-items: center;
    color: var(--text-colour);
    line-height: 1;
    justify-content: flex-end;
    text-decoration: none;
}

/* Contact component */

Form {
    width: 50%;
}

.formGroup { 
    justify-content: center;
}

.formLabel {
    color: var(--secondary-text-colour)
}