/* Header components */
.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3rem;
  /* max-width: 80rem; */
  margin: 0 auto;
}

.headerNav,
.navbar-nav {
  z-index: 2;
  background: rgba(33, 37, 41, 0.2);
}

.name {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--highlight-colour);
  text-decoration: none;
}

.name:hover {
  color: var(--highlight-colour);
}

.surname {
  opacity: 0;
  transition: 400ms ease-in-out;
  margin-left: 1px;
  font-weight: bolder;
  font-size: smaller;
}

.headerContainer:hover .surname {
  opacity: 1;
}

.link {
  margin-left: 20px;
  height: 2rem;
  display: flex;
  align-items: center;
  color: var(--text-colour);
  text-shadow: 0 0 0.9px white, 0 0 0.9px white;
  line-height: 1;
  justify-content: flex-end;
  text-decoration: none;
  font-weight: bolder;
  z-index: 2;
}

.link:hover {
  color: var(--highlight-colour);
  text-shadow: 0 0 0.9px #682be9, 0 0 0.9px #682be9;
}

.navBar {
  z-index: 1;
}
