
.footerContainer {
    margin-top: 20px;
}
.icons {
    color: #682be9;
    font-size: larger;
    margin: .9px;
}

.icons:hover {
    color: white;
}

.year {
    color: #682be9; 
    padding-left: 5px;
}